.custom-select,
.custom-path {
  text-align: center;
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  width: 132px;
  max-width: 100%;
  z-index: 100;
}
.select-button {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.675em 1em;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  background-color: white;
  cursor: pointer;
}
.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
}
.select-dropdown {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  background-color: white;
  list-style: none;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}
.select-dropdown::-webkit-scrollbar {
  width: 7px;
}
.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.select-dropdown li {
  padding: 2px;
  cursor: pointer;
  outline: 1px solid rgb(204, 204, 204);
  margin-top: 1px;
}
/* Highlight the selected option */
.select-dropdown li.selected {
  background-color: rgb(77, 175, 81);
  border-radius: 12px;
}
.select-dropdown li.selected span {
  background-color: rgba(255, 255, 255, 0.75);
}
.select-dropdown li:hover,
.select-dropdown li:focus {
  background-color: #f2f2f2;
  border-radius: 4px;
}
.select-dropdown li span {
  background-color: rgb(255, 255, 255);
  border: 0;
  color: rgb(36, 30, 28);
  font-family: monospace, sans-serif;
  font-size: small;
  font-weight: 900;
  padding: 8px 10px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.select-dropdown.hidden {
  display: none;
}

#chooseSeasonLi span:before {
  background-image: url(pics/icon_sprite.png);
  background-position: -95px 0px;
  background-size: 100px auto;
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  border: 2px solid rgba(0, 0, 0, 0.52);
  overflow: hidden;
  border-radius: 4px;
  box-shadow: inset 1px 1px 3px 0px #fff;
  margin-right: 4px;
}